In [53]:
import pandas as pd
df = pd.read_csv("/Users/taniatoyo/Desktop/weather.csv")

In [54]:
df #dataframe is used to convert dictionary to table.. pd.Dataframe

        day  temperature  windspeed  event
0  01/01/17           32          6   rain
1  01/02/17           35          7  sunny
2  01/03/17           28          2   snow
3  01/04/17           24          7   snow
4  01/05/17           32          4   rain
5  01/06/17           31          2  sunny

In [16]:
rows,columns=df.shape

In [19]:
df.head(2)#prints only n rows

        day  temperature  windspeed  event
4  01/05/17           32          4   rain
5  01/06/17           31          2  sunny

In [20]:
df.tail(2)

        day  temperature  windspeed  event
4  01/05/17           32          4   rain
5  01/06/17           31          2  sunny

In [21]:
df[2:5]

        day  temperature  windspeed event
2  01/03/17           28          2  snow
3  01/04/17           24          7  snow
4  01/05/17           32          4  rain

In [22]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
df.day

0    01/01/17
1    01/02/17
2    01/03/17
3    01/04/17
4    01/05/17
5    01/06/17
Name: day, dtype: object

In [24]:
df.event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [25]:
df["event"]

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [26]:
type(df['event']) #columns are of data type series

pandas.core.series.Series

In [27]:
df[['event','day']]

   event       day
0   rain  01/01/17
1  sunny  01/02/17
2   snow  01/03/17
3   snow  01/04/17
4   rain  01/05/17
5  sunny  01/06/17

In [28]:
df['temperature'].max()

35

In [29]:
df['temperature'].mean()

30.333333333333332

In [30]:
df.describe()# prints statistics of the columns with numeric data

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [31]:
df[df.temperature>=32] #to sql

        day  temperature  windspeed  event
0  01/01/17           32          6   rain
1  01/02/17           35          7  sunny
4  01/05/17           32          4   rain

In [38]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  01/02/17           35

In [60]:
df.loc['01/04/17']

temperature      24
windspeed         7
event          snow
Name: 01/04/17, dtype: object

In [55]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   rain
1  01/02/17           35          7  sunny
2  01/03/17           28          2   snow
3  01/04/17           24          7   snow
4  01/05/17           32          4   rain
5  01/06/17           31          2  sunny

In [56]:
df.set_index('day',inplace=True)#inplace true updates the table

In [61]:
df.reset_index(inplace=True)

In [62]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   rain
1  01/02/17           35          7  sunny
2  01/03/17           28          2   snow
3  01/04/17           24          7   snow
4  01/05/17           32          4   rain
5  01/06/17           31          2  sunny

In [ ]:
df.