In [21]:
import pandas as pd
df=pd.read_csv('/Users/taniatoyo/Desktop/weather.csv')
#skiprows to used to omit columns
#header= None,Names=['yanis','sajxsiosa']
#nrows to read n number of rows

In [22]:
df

        day  temperature  windspeed  event
0  01/01/17           32          6   rain
1  01/02/17           35          7  sunny
2  01/03/17           28          2   snow
3  01/04/17           24          7   snow
4  01/05/17           32          4   rain
5  01/06/17           31          2  sunny

In [25]:
df.to_csv('new.csv',index=False)
#to_csv to write

In [26]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [30]:
df.to_csv('new.csv',columns=['day','temperature'])

In [32]:
df.to_csv('new.csv',row=['1/8/2017',34,7,'Sunny'])

TypeError: to_csv() got an unexpected keyword argument 'row'